<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Espaço à esquerda da tela -->
            </div>
            <div class="col-md-6 cadastro-container">
                <h1>Cadastro</h1>
                <form>
                    <div class="form-group">
                        <label for="nome" class="label-text">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Informe seu nome">
                    </div>
                    <div class="form-group">
                        <label for="dataNascimento" class="label-text">Data de Nascimento</label>
                        <input type="date" class="form-control" id="dataNascimento">
                    </div>
                    <div class="form-group">
                        <label for="endereco" class="label-text">Endereço</label>
                        <input type="text" class="form-control" id="endereco" placeholder="Informe seu endereço">
                    </div>
                    <div class="form-group">
                        <label for="cpf" class="label-text">CPF</label>
                        <input type="text" class="form-control" id="cpf" placeholder="Informe seu CPF">
                    </div>
                    <div class="form-group">
                        <label for="altura" class="label-text">Altura</label>
                        <input type="text" class="form-control" id="altura" placeholder="Informe sua altura">
                    </div>
                    <div class="form-group">
                        <label for="peso" class="label-text">Peso</label>
                        <input type="text" class="form-control" id="peso" placeholder="Informe seu peso">
                    </div>
                    <div class="form-group">
                        <label for="telefone" class="label-text">Telefone</label>
                        <input type="tel" class="form-control" id="telefone" placeholder="Informe seu telefone">
                    </div>
                    <div class="text-center"> <!-- Centralizar o botão -->
                      <button type="submit" class="btn btn-cadastrar">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
